<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoosterGold.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0E898941F0DD8C700E79080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E898AB1F0DD8C800E79080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E898B61F0DD8C800E79080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
